.divcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 3% auto;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 33px 31px 3px rgba(0,0,0,0);
}

a:hover{
  background: 3073DA;
}

.div {
  margin: 0 auto 0 auto;
  width: 65%;
  padding: 0;
}

.card{
  transition: border .5s;
}

.card:hover{
  border: 1px solid #3073DA !important;
}

.homecontainer {
  margin: auto auto auto auto;
  display: inherit;
  max-height: inherit;
  padding: 0;
}

.tablecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
  box-shadow: 0px 33px 31px 3px rgba(0,0,0,0);
  height: auto;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 30px 0px 0px 0px;
  padding: 20px 15px 20px 15px;
  background-color: white;
  position: relative;
}

.header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0px 0px 0px;
  padding: 20px 15px 20px 15px;
  background-color: white;
  position: relative;
}

.leftalign{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 10px auto 0 0;
}

.rightalign{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0 0 0 auto;
}

.carousel-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 100px auto 0 auto;
}

.navbar2{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto auto auto -200px;
  padding: 10px 0 10px 0;
  position: absolute;
  top: 10;
  left: 50%;
  width: 400px;
    
}

.navbar3{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;
  padding: 10px 0 10px 0;
  position: absolute;
  width: 100%;
    
}

.centernavcol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
}
.centernav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0;
}

.leftnavcol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  margin: 0;
}

.rightnavcol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  margin: 0;
}

.logincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6% 0;
  width: 100%;
}

.login{
  margin: 20 0 0 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  position: absolute;
  background: white;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 ;
  padding: 0;
  width:100vw;
  height: 100vh;
  background: white;
}

.aboutcontainer {
  margin: 0px 0 0 0 !important;
  align-self: center !important;
  padding: 0;
  background-color: white;
}

.buttondiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px
}

.rolefield{
  background-color: white;
  border: 1px solid #CED5DA;
  color:  #6D767D;
  border-radius: 4px;
  margin-bottom: 15px;
}

.carousel-item-custom{
  background: #262626 !important;
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.fade-in-navbutton {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

.fade-in-image {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}

.userinfo{
	text-align: center;
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 3% auto;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 33px 31px 3px rgba(0,0,0,0);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media screen and (max-width: 600px) {
  #hide-mobile {
    visibility: hidden;
  }
  #expand-mobile {
    width: 100%;
    margin: 0,
  }
}